body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    border: none;
    border-radius: 22px;
    background-color: white;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;

}

.container__image {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.container__content {
    margin: 50px;

}

.container-content__section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
}

.container-content-section__left {
    display: flex;
}


.container-content-section__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.text-container {
    text-align: center;
}

.container-content__title {
    font-size: 28px;
    height: 50px;
    font-weight: 900;
    font-stretch: condensed;
    margin: 0;
    line-height: 1;
    /* margin-bottom: 10px; */
    color: hsl(223, 47%, 23%);
}

.container-content__subtitle {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 0px;
    margin: 0;
    line-height: 1.5;
    color: hsl(224, 23%, 55%);
}

.container-content-section__title {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.container-content-section__subtitle {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    margin-top: 5px;
    color: hsl(224, 23%, 55%);
}

.container-content-section__button {
    background-color: transparent;
    border: 0px;
    color: blue;
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
}

.container-content__button {
    font-weight: bold;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.container-content__button--primary {
    color: white;
    background: hsl(245, 75%, 52%);
    box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.4);
}

.container-content__button--secondary {
    margin-top: 16px;
    color: hsl(223, 47%, 23%);
    background-color: transparent;
}

.container-content__button:hover {
    opacity: 0.8;
}

.container-content__button--secondary:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px 2px rgba(34, 60, 80, 0.4);
}